/* basic info css to go here */
/* medium */
.basic-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40rem;
}

.text-input {
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  max-width: 20rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 2px solid var(--dark-grey);
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 1rem;
}

.text-invalid {
  border: 2px solid var(--red);
  background-color: var(--light-red);
}

/* buttons */
/* consent */
.consent-button {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: white;
  background-color: var(--med-blue);
  border: 2px solid var(--med-blue);
  transition: all ease-in-out 0.3s;
  margin: 0 auto;
  cursor: pointer;
}
.consent-button:hover,
.consent-button.toggled {
  color: var(--med-blue);
  border: 2px solid var(--med-blue);
  background-color: white;
}
.consent-button:focus {
  border: 2px solid var(--med-blue);
}

/* view results */
.general-button {
  font-size: 1.8rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  color: white;
  background-color: var(--med-blue);
  transition: all ease-in-out 0.3s;
  margin: 0 auto;
  cursor: pointer;
}
.general-button:hover {
  color: var(--med-blue);
  background-color: white;
}

/* consent card */
.consent-card {
  background-color: white;
  margin: 2rem 0rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.35rem 0.5rem rgba(0, 0, 0, 0.25);
  max-width: 40rem;
  text-align: center;
}

.button-spacing {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.form-text {
  color: var(--darker-blue);
  margin-bottom: 0.5rem;
}

.radio-container {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-container input {
  position: absolute;
  top: 0;
  margin: 0;
  opacity: 0;
  left: 0;
}

.row {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0;
}

.radio-container input:checked ~ .checked {
  color: var(--med-blue);
  background-color: white;
}

.checked {
  padding: 0.5rem 1rem;
  color: white;
  background-color: var(--med-blue);
  border-radius: 0.5rem;
  /* position: absolute;
  top: 0;
  left: 0; */
}
