/* results css to go here */
.results-list {
  display: flex;
  flex-direction: column;
}
.back-link {
  fill: white;
}

.missing-data {
  background-color: var(--red);
  color: white;
  padding: 0.25rem 0.5rem;
  margin: 200;
  display: inline-block;
}