/* global styles to go here */
:root {
  --light-blue: #a9d6ff; /* background #81c3ff */
  --med-blue: #0094ff; /* button normal */
  --dark-blue: #027dd7; /* button extra dark */
  --darker-blue: #015899; /* blue text on blue background */
  --dark-grey: #4b4b4b; /* text */
  --med-grey: #e5e5e5;
  --light-grey: #dadada;
  --green: #277021; /* recruiting #3a9732 */
  --red: #b21b00; /* not recruiting tomato */
  --light-red: #ffc4ba;
  --normal: 400;
  --bold: 600;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 1.25rem;
  font-family: "Lato", sans-serif;
  font-weight: var(--normal);
  line-height: 1.4;
  color: var(--dark-grey);
  background-color: var(--light-blue);
}

form,
button {
  font-family: "Lato", sans-serif;
  font-weight: var(--normal);
  border: 0;
  padding: 0;
  background-color: transparent;
}

/* reset default focus styles */
button:focus,
input:focus,
select:focus {
  outline: none;
}

.main-section {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}
@media only screen and (min-width: 40rem) {
  .main-section {
    padding: 0 2rem;
  }
}

h1 {
  font-size: 2rem;
  font-weight: var(--bold);
  color: var(--darker-blue);
  text-align: center;
  line-height: 3.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.6rem;
  font-weight: var(--bold);
  color: var(--darker-blue);
  text-align: center;
  line-height: 3.5rem;
}
