/* header css */
.header {
  background-color: white;
  border-bottom: 2px solid var(--dark-blue);
}

.header-logo {
  width: 1.7rem;
  height: 1.7rem;
}
h1.curenetics {
  font-size: 1.6rem;
  color: var(--dark-blue);
  text-align: left;
  display: inline;
  margin-left: 0.4rem;
  font-weight: 600;
}
.header .main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-img {
  font-size: 2rem;
  float: right;
  display: block;
  fill: var(--dark-blue);
}
