/* header css */
.header {
  background-color: white;
  border-bottom: 2px solid var(--dark-blue);
}

.lockup {
  display: flex;
  align-items: center;
}
.header-logo {
  width: 1.7rem;
  height: 1.7rem;
}
.app-title {
  font-size: 1.6rem;
  color: var(--dark-blue);
  text-align: left;
  margin-left: 0.5rem;
  font-weight: var(--bold);
  margin-bottom: 0;
}
.header .main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-img {
  font-size: 2rem;
  float: right;
  display: block;
  fill: var(--dark-blue);
}
