/* header css */
.header {
  background-color: white;
  border-bottom: 2px solid var(--dark-blue);
}

.header-logo {
  width: 1.7rem;
  height: 1.7rem;
}
.app-title {
  font-size: 1.6rem;
  color: var(--dark-blue);
  text-align: left;
  margin-left: 0.5rem;
  font-weight: var(--bold);
  margin-bottom: 0;
}

/* header container */
.header .main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .main-section > div {
  display: flex;
  align-items: center;
}

/* menu container */
.menu-container {
  position: relative;
}
/* menu button */
.menu-button {
  z-index: 1;
  position: absolute;
  right: 0;
}
.menu-button:hover,
.menu-button.open {
  background-color: var(--light-grey);
  border-radius: 2rem;
  cursor: pointer;
}
.menu-button:hover .menu-img,
.menu-button.open .menu-img {
  fill: var(--dark-grey);
}
.menu-img {
  font-size: 2rem;
  float: right;
  display: block;
  fill: var(--dark-blue);
}

/* menu */
.nav-menu {
  position: fixed;
  top: 3.5rem;
  bottom: 0;
  right: 0;
  width: 15rem;
  transform: translateX(15rem);
  transition: transform ease-in-out 0.5s;
  padding: 1rem;
  background-color: white;
  border-left: 2px solid var(--dark-grey);
  border-top: 2px solid var(--med-grey);
  text-align: center;
}
.menu-button.open ~ .nav-menu {
  transform: translateX(0rem);
}

/* menu list items */
.menu-title {
  font-size: 2rem;
  font-weight: var(--bold);
}
.nav-menu li {
  margin-top: 2rem;
}
.nav-menu li:first-child {
  margin-top: 0;
}
.nav-menu a {
  padding: 1rem;
  text-decoration: none;
  font-size: 2rem;
  color: var(--dark-grey);
}
